@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@property --border-angle {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

@theme {
  --font-body: Inter, sans-serif;
  --font-head: Roboto, sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  --font-roboto: 'Roboto', sans-serif;
  --color-primary: #ffffff;
  --color-bg-primary: green;

  --color-dark-bg: #141414;
  --color-dark-card-color: #222222;
  --color-dark-text-color: #ffffff;

  --animate-rotate-border: border-rotate 5s linear infinite;

  @keyframes border-rotate {
    to {
      --border-angle: 360deg;
    }
  }
}

html {
  scroll-behavior: smooth;
}
* {
  scrollbar-width: thin;
  scrollbar-color: #1c1947 #03050e;
}

body {
  overflow-x: hidden;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.lottie-bg canvas {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}

/* Entire scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track (background behind thumb) */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Scroll thumb (the thing you drag) */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #03050e, #09091b, #1c1947);
  border-radius: 10px;
}

/* On hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #1c1947, #09091b, #03050e);
}
